<section class="container" id="addPost">
  <form class="add-member" action="/blog/add-post" method="post">
    <label for="addBlogPost">Post Text</label>
    <input id="addBlogPost" type="text" name="post_text" value="" placeholder="Enter post text here" required>
    <input type="submit" name="" value="Add Post">
  </form>
</section>


<!-- post_text -->
