<section class="container">
  <form class="search" action="/search/" method="get">
    <input type="text" name="search" value="" placeholder="Search FAC members">
    <input type="submit" name="" value="Search">
  </form>
  <a class="add-person" href="#addMember">+ Person</a>
</section>
